
body {
    background-image: url("../img/background.jpg");
    background-size: 100%;
    font-family: 'Press Start 2P', cursive;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2 {
    font-style: italic;
    font-weight: bold;
}
#water {
    color: #6495ED;
    font-weight: bold;
}

#pokemon {
    opacity: .8;
    transition: transform .2s;
    margin: 0 auto;
}
#pokemon:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
}
#grass {
    color: green;
    font-weight: bold;
}

#fire {
    color: red;
    font-weight: bold;
}
